# Ignore ALL .log files
*.log

# Ignore 'build' directory in the root
/build/

# Ignore macOS system files
.DS_Store

# Ignore macOS folder created in zip extracts
temp/archivos/__MACOSX/

# Ignore __pycache__ folders anywhere
**/__pycache__/

# Ignore confidential files
.env

temp/assets/videos/DemoAutoavanza.mov
